{% extends 'base.html' %}

{% block main %} 
<div class="jumbotron">
 <h1>Beyond Mobile</h1>
   <blockquote>
     The challenge to your business is way bigger than just mobile, 
     and extends into wearables, sensors, consoles, kiosks, Internet of Things, and 
     more - and all the apps that go with (or on) them. As consumerization accelerates 
     this proliferation of endpoints and apps, consumers won't wait for creaky old development 
     processes.
     <footer>Andi Mann in 
      <a href="http://devopsangle.com/2014/02/19/ask-devops-guest-mobile-first-is-no-longer-enough/">
       <em>Ask DevOps Guest: 'Mobile First' is no longer enough</em>
      </a>
      </footer>
  </blockquote>
</div>

<div class="row">
 <div class="col-md-6">

 </div>
 <div class="col-md-6">
  <h2>Features &amp; Functions</h2>
  <ul>
   <li>Seemless across multiple devices and platforms</li>
  </ul>
</div>    
<div class="row">
  <div class="col-md-12">
    <a href="{{ url_for('slide', slide='discovery-elsewhere-local-needed') }}" 
       class="btn btn-success btn-lg">
     <span class="glyphicon glyphicon-chevron-left"></span>
      Discovery happens elsewhere&hellip;but local is needed more than ever
    </a>
  </div>
</div>

{% endblock %}
