{% extends 'base.html' %}

{% block main %} 
<div class="jumbotron">
 <h1>Beyond Mobile</h1>
</div>

<div class="row">
 <div class="col-md-6">

 </div>
 <div class="col-md-6">
  <h2>Features &amp; Functions</h2>
  <ul>
   <li>Seemless across multiple devices and platforms</li>
  </ul>
</div>    
<div class="row">
  <div class="col-md-12">
   <div class="btn-group pull-right"> 
    <a href="{{ url_for('slide', slide='local-is-needed-more-than-ever') }}" 
       class="btn btn-success btn-lg">
     <span class="glyphicon glyphicon-chevron-left"></span>
      &hellip;but local is needed more than ever
    </a>
    <a href="{{ url_for('slide', slide='heads-up-augmented-services') }}" 
       class="btn btn-success btn-lg">Heads up! Augmented Services
     <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
   </div>
  </div>
</div>

{% endblock %}
