{% extends 'base.html' %}

{% block main %}
<div class="jumbotron">
 <h1>{{ topic.get('label')|safe }}</h1>
 <p class="lead">
  {{ topic.get('description')|safe }}
 </p>
</div>


<div class="row">
 <div class="col-md-6">
  <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Logo_2013_Google.png/320px-Logo_2013_Google.png" 
       class="pull-right">
  <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Facebook.svg/200px-Facebook.svg.png">
  <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Bing_logo_%282013%29.svg/200px-Bing_logo_%282013%29.svg.png">
  <img src="http://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/200px-Twitter_bird_logo_2012.svg.png">
 </div>
 <div class="col-md-6">
  <h2>Features &amp; Functions</h2>
  <ul>
   <li>Provide <a href="#">Sitemaps</a> for commerical and specialized web-crawlers</li> 
   <li>Markup collections in <a href="#">Schema.org</a> and other vocabularies</li>
   <li>Adopt <a href="#">ResourceSync</a> for resource sharing</li>
   <li>CRUD (<strong>C</strong>reate, <strong>R</strong>ead,  <strong>R</strong>pdate, &amp; <strong>D</strong>elete) 
       API (<strong>A</strong>pplication <strong>P</strong>rogramming <strong>I</strong>nterface) access
       into the system for trusted partners.</li>
   <li>Blurs lines between local, regional, national, and international systems (Promise of <a href="#">LinkedData</a>)</li>
  </ul>
 </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
   <div class="btn-group pull-right"> 
    <a href="{{ url_for('slide', slide='our-future-tracks-the-book') }}" class="btn btn-success btn-lg">
      <span class="glyphicon glyphicon-chevron-left"></span> Our Future Tracks the Book</a>
    <a href="{{ url_for('slide', slide='local-is-needed-more-than-ever') }}" 
       class="btn btn-success btn-lg">&hellip;but local is needed more than ever
     <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
   </div>
  </div>
</div>
{% endblock %}

