{% extends 'base.html' %}

{% block main %}
<div class="jumbotron">
 <h1>Discovery happens elsewhere&hellip; 
 <small>but local is needed more than ever</small></h1>
 <p class="lead">
   While it shouldn't be too controversial to state that many of our potential 
   library patrons will find our collections through commercial search engines
   like <a href="http://www.google.com/">Google</a> and 
   <a href="http://bing.com/">Microsoft Bing</a> or be referred to an item through
   popular social networks like <a href="http://facebook.com/">Facebook</a>, 
   <a href="http://linkedin.com/">LinkedIn</a>, or 
   <a href="http://twitter.com/">Twitter</a>.   
 </p>
 <p class="lead">
  We should also be prepared to support our patron's access and discovery to our collections
  that goes beyond mobile devices to any devices. 
 </p>
</div>


<div class="row">
 <div class="col-md-6">
  <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Logo_2013_Google.png/320px-Logo_2013_Google.png" 
       id="google-img" style="position: relative">
  <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Facebook.svg/200px-Facebook.svg.png" 
       id="facebook-img" style="position: relative">
  <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Bing_logo_%282013%29.svg/200px-Bing_logo_%282013%29.svg.png"
       id="bing-img" style="position: relative">
  <img src="http://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/200px-Twitter_bird_logo_2012.svg.png"
       id="twitter-img" style="position: relative">
 </div>
 <div class="col-md-6">
  <h2>Features &amp; Functions</h2>
  <ul data-bind="foreach: featuresAndFunctionsQuestions">
   <li data-bind="html: $data"></li>
  </ul>
 </div>
</div>

<hr>

<a class="btn btn-info btn-lg container" href="#" data-bind="click:showThoughtExperiement">A Thought Experiment
 <span class="glyphicon glyphicon-question-sign"></span>
</a> 

<hr>
 <div class="well well-sm">
   <blockquote>
     The challenge to your business is way bigger than just mobile, 
     and extends into wearables, sensors, consoles, kiosks, Internet of Things, and 
     more - and all the apps that go with (or on) them. As consumerization accelerates 
     this proliferation of endpoints and apps, consumers won't wait for creaky old development 
     processes.
     <footer>Andi Mann in 
      <a href="http://devopsangle.com/2014/02/19/ask-devops-guest-mobile-first-is-no-longer-enough/">
       <em>Ask DevOps Guest: 'Mobile First' is no longer enough</em>
      </a>
      </footer>
  </blockquote>
  <h2>Beyond Mobile to Augmented Services &amp; Internet of Things</h2>

  <p class="lead" style="text-align: left">
   How do our current patrons use their mobile devices to discovery and access our collections? Do our
   library systems natively support such non-PC usage?
  </p>
  <p class="lead">
   Will our future library systems support describing objects that collect data, respond to their environments,
   and communicate with other objects?
  </p>
  <p class="lead">
      What ways will our artifacts be discovered in environments inspired by user interface modalities like 
   Oculus Rift (recently acquired by Facebook) 3D Virtual Reality or Microsoft XBox Kinect?
<img src="{{ url_for('static', filename='img/oculus-vr-rift.png') }}" class="img img-thumbnail float-right">

  </p> 
  <p class="lead">
   Can library systems handle display and interfaces for augmented reality technology like Google's Glass? 
 <img src="{{ url_for('static', filename='img/google-glass-desktop_shades_01.jpg') }}" class="img img-thumbnail">

  </p>
</div>



<div class="row">
  <div class="col-md-6">
    <a href="{{ url_for('slide', slide='our-future-tracks-the-book') }}" class="btn btn-success btn-lg">
      <span class="glyphicon glyphicon-chevron-left"></span> Our Future Tracks the Book</a>
  </div>
  <div class="col-md-6">
    <a href="{{ url_for('slide', slide='local-needed-more-than-ever') }}" 
       class="btn btn-success btn-lg">&hellip;but local is needed more than ever
     <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

{% endblock %}

{% block dialogs %}
{# START thought-experiment-dlg #}
<div class="modal fade" id="thought-experiment-dlg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title"><span class=""></span> Thought Experiment</h1>
      </div>
      <div class="modal-body">
        <h2>What if we decreased support for discovery services and instead promoted our collections through
          paid advertising on Google, Facebook, LinkedIn, or Twitter?</h2>
        <p class="lead">
         Let us assume (a big <strong>if</strong>!) that one of our primary objectives as libraries is to increase usage
         and exposure of our collections. Further, we have a preference for promoting locally curated
         and published sources from our communities creative artifacts. So&hellip;  
        </p>
        <ul>
         <li>Should we expect usage and "discovery" to increase for our collections?</li>
         <li>What would be the continuing advertising costs for such a strategy? 
         <li>Is it sustainable?</li>
         <li>What are some secondary consequences of this strategy?</li> 
         <li>How does Search Engine Optimization change?</li> 
           
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
{# END thought-experiment-dlg #}
</div>
{% endblock %}

{% block inline_js %}
<script>
  function makeNewPosition($container) {
    $container = ($container || $(window))
    var h = $container.height() - 50;
    var w = $container.width() - 50;
    var nh = Math.floor(Math.random() * h);
    if(nh > 200) { nh=200; }
    
    var nw = Math.floor(Math.random() * w);

    return [nh, nw];
  }

  function animateImage(image_name) {
    var image = $('#'+image_name);
    var newq = self.makeNewPosition(image.parent());
    var oldq = image.offset();
    var speed = self.calcSpeed([oldq.top, oldq.left], newq);
    image.animate({top: newq[0], left: newq[1]},
                   speed, 
                   function() {
                     animateImage(image_name) });
  }

  function calcSpeed(prev, next) {
    var x = Math.abs(prev[1] - next[1]);
    var y = Math.abs(prev[0] - next[0]);

    var greatest = x > y ? x : y;

    var speedModifier = 0.1;

    var speed = Math.ceil(greatest / speedModifier);

    return speed;
  }

  var DiscoveryViewModel = function() {
  var self = this;
  
  animateImage('google-img'); 
  animateImage('facebook-img');
  animateImage('bing-img');
  animateImage('twitter-img');
  
  self.shownThoughtExperience = false;
 
  self.featuresAndFunctionsQuestions = ko.observableArray([
   "Does the system provide <a href='http://www.sitemaps.org/'>Sitemaps</a> for commercial and specialized web-crawlers?",
   "Markup collections in Schema.org and other vocabularies",
   "Adopt <a href='http://www.niso.org/workrooms/resourcesync/'>ResourceSync</a> for resource sharing",
   "CRUD (<b>C</b>reate, <b>R</b>ead,  <b>U</b>pdate, & <b>D</b>elete)  API (Application Programming Interface) access into the system for trusted partners.",
   "Blurs lines between local, regional, national, and international systems (Promise of LinkedData)"]);

  self.showThoughtExperiement = function() {
    $('#thought-experiment-dlg').modal('show');
    
  }

 }

 

var discovery_view = new DiscoveryViewModel();


ko.applyBindings(discovery_view);
</script>
{% endblock %}
