{% extends 'base.html' %}

{% block main %} 
<div class="jumbotron">
 <h1>Heads up! Augmented Services</h1>
</div>

<div class="row">
 <div class="col-md-6">
  <h2>Features &amp; Functions</h2>
  <ul>
   <li>Supports gesture interfaces</li>
   <li>Displays localized material based on individual's location</li> 
  </ul>
 </div>
</div>

<div class="row">
  <div class="col-md-12">
   <div class="btn-group pull-right"> 
    <a href="{{ url_for('slide', slide='beyond-mobile') }}" 
       class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Beyond Mobile</a>
    <a href="{{ url_for('slide', slide='back-to-the-future') }}" 
       class="btn btn-success btn-lg">Back to the Future
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </div>
  </div>
</div>
{% endblock %}
