{% extends 'base.html' %}

{% block main %}
<div class="jumbotron">
  <img src="https://www.coalliance.org/sites/all/themes/minim/logo.png">
  <h2>Features &amp; Functionality in our</h2>
  <h1>Future Library Systems</h1>
  <h3>Jeremy Nelson</h3>
   <blockquote>
    The world around us is changing. Long-term trends, driven by public policy 
    and the exponential rate of change in the digital infrastructure, are 
    fundamentally altering the global business environment. We initially respond 
    to these changes by working harder within existing institutions and practices. 
    The result is diminishing performance and mounting stress. Until we 
    understand the nature of those changes and evolve our institutions and practices 
    accordingly, we won't be able to effectively harness new capabilities and turn stress into success.
    <footer>Deloitte Center for the Edge, introduction to the 
     <a href="http://www.deloitte.com/us/shiftindex">The Shift Index</a>
    </footer>
   </blockquote>
  <p class="lead">
   What questions should we be asking about the features and functionality of future 
   library systems? I will be exploring six areas that offer different questions we 
   can ask about.

  </p>
  <p><a class="btn btn-lg btn-success" href="/our-future-tracks-the-book.html" role="button">
     Our Future tracks the Book <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
</div>



<div class="row marketing">
 
 {% for column in slides.items()|slice(2) %}
  {% for row in column %}
  <div class="col-lg-6">
  <h4>{{ row[1]['label']|safe }}</h4>
  <p>{{ row[1]['description']|safe }}</p>
  <div class="btn-group">
    {% if not loop.first %}
    <a href="{{ slides.items()[loop.index0-1][0] }}.html"
       class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></a>
    {% endif %}
    <a href="{{ row[0] }}.html" class="btn btn-default"><span class="glyphicon glyphicon-globe"></span></a>
    {% if not loop.last %}
    <a href="{{ slides.items()[loop.index0+1][0] }}.html"
     class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></a>

    {% endif %}
  </div>
  <p>&nbsp;</p>
  </div>
  {% endfor %}
 {% endfor %}
 
{# 
 <div class="col-lg-6">
 {% for value in slides.values()[3:] %}
  <h4>{{ value }}</h4>
  <p></p>
 {% endfor %}
  </div> #}
</div>

<div class="well">
  <p>
   <a class="btn btn-lg btn-primary" 
      href="/open-badge" 
      role="button">Earn your Open Badge</a>
  </p>

</div>

 <div class="alert alert-danger alert-dismissable">
   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
   <strong>Disclaimer</strong> Views, opinions, and statements expressed in this presentation do not necessarily reflect my <a href="http://coloradocollege.edu/">employer</a>, <a href="https://www.coalliance.org/">CARL</a>, or partners views.
 </div>

{% endblock %}
