{% extends 'base.html' %}

{% block main %}
<blockquote>
  The world around us is changing. Long-term trends, driven by public policy 
  and the exponential rate of change in the digital infrastructure, are 
  fundamentally altering the global business environment. We initially respond 
  to these changes by working harder within existing institutions and practices. 
  The result is diminishing performance and mounting stress. Until we 
  understand the nature of those changes and evolve our institutions and practices 
  accordingly, we won't be able to effectively harness new capabilities and turn stress into success.
  <footer>Deloitte Center for the Edge, introduction to the 
   <a href="http://www.deloitte.com/us/shiftindex">The Shift Index</a>
  </footer>
</blockquote>


<div class="jumbotron">
  <img src="https://www.coalliance.org/sites/all/themes/minim/logo.png">
  <h2>Features &amp; Functionality in our</h2>
  <h1>Future Library Systems</h1>
  <h3>Jeremy Nelson</h3>
  <p class="lead">
   What questions should we be asking about the features and functionality of future 
   library systems? Today we will explore three areas that may prompt us to ask different 
   questions about what we should expect from our future library systems.
  </p>
</div>

<a href="{{ url_for('slide', slide='our-future-tracks-the-book') }}">
<div class="alert alert-warning">
  <h1>Our Future tracks the book</h1>
  <p class="lead">While libraries pre-date the book, for the past few
    centuries as the central repository of monographs for our communities
    dominated our identity. Just in the past ten years has the book started to
    shifting to new, more online forms that split the content from the print
    format.
  </p>
</div>
</a>

<div class="alert alert-info">
  <h1>Discovery happens elsewhere &hellip;</h1>
  <h1>&hellip; but local is needed more than ever</h1>

</div>

<div class="alert alert-success">
  <h1>Beyond Mobile -- Heads ups to Augmented Services</h1>

</div>


<div class="well">
  <p>
   <a class="btn btn-lg btn-primary" 
      href="/open-badge" 
      role="button">Earn your Open Badge</a>
  </p>

</div>

 <div class="alert alert-danger alert-dismissable">
   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
   <strong>Disclaimer</strong> Views, opinions, and statements expressed in this presentation do not necessarily reflect my <a href="http://coloradocollege.edu/">employer</a>, <a href="https://www.coalliance.org/">CARL</a>, or partners views.
 </div>

{% endblock %}
