{% extends 'base.html' %}

{% block main %}
<div class="jumbotron">
  <img src="https://www.coalliance.org/sites/all/themes/minim/logo.png">
  <h2>Features &amp; Functionality in our</h2>
  <h1>Future Library Systems</h1>
   <blockquote>
    The world around us is changing. Long-term trends, driven by public policy 
    and the exponential rate of change in the digital infrastructure, are 
    fundamentally altering the global business environment. We initially respond 
    to these changes by working harder within existing institutions and practices. 
    The result is diminishing performance and mounting stress. Until we 
    understand the nature of those changes and evolve our institutions and practices 
    accordingly, we won't be able to effectively harness new capabilities and turn stress into success.
    <footer>Deloitte Center for the Edge, introduction to the 
     <a href="http://www.deloitte.com/us/shiftindex">The Shift Index</a>
    </footer>
   </blockquote>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Future starts with the Book</a></p>
</div>


<div class="row marketing">
  <div class="col-lg-6">
    <h4>Books &amp; Linked Data</h4>
    <p>


    </p>
    <h4>Discovery happens elsewhere...</h4>
    <p>

    </p>
    <h4>...but local is needed more than ever</h4>
    <p>

    </p>

  </div>
   <div class="col-lg-6">
    <h4>Beyond Mobile</h4>
    <p>

    </p>
    <h4>Heads up! Augmented Services</h4>
    <p>

    </p>
    <h4>Back to the future?!</h4>
    <p></p>
  </div>
</div>

<div class="well">
  <p><a class="btn btn-lg btn-primary" href="#" role="button">Earn your Open Badge</a></p>

</div>
{% endblock %}
