{% extends 'base.html' %}

{% block main %}
<div class="jumbotron">
 <h1>
  <small>Discovery happens elsewhere</small>
  &hellip;but local is needed more than ever</h1>
 <p class="lead">
  The library is becoming the center of creative activity in our
  communities through the library's emerging roles as an open access
  journal publisher, digital archivist through institutional 
  repositories, and as experimental manufacturers using 3-D printers in 
  library MakerLabs.
 </p>
</div>

<hr>
<div class="well">
 <h1>Data Curation</h1>
 <p class="lead bg-danger">Big, small, or medium, managing <em>data</em> produced by our communities
 is a challenge facing libraries. From local storage of operational data created by sensors 
 and experiments, to national and international data sharing sites for various disciplines,
 we need library systems that are flexible enough to handle the preservation of 
 highly variable textual and binary digital artifacts. We also need library systems that 
 at least capture the provenance of these digital artifacts while still providing sufficient
 description to be both generally discoverable as well as using discipline or profession 
 specific vocabularies.
 </p>
 <h1 style="text-align:right">Open Access</h1>
 <p class="lead" style="text-align:right">
  Libraries are emerging as one possibility of hosting and publishing scholarship through
  digital repository and publishing technologies. While we acknowledge the controversies
  surrounding Open Access, the functionality to support these different models is something 
  we need from our library systems. 
 </p>
 <h1>3D Printing and Makerspaces</h1>
 <p class="lead bg-warning">
  Situating 3D printers and other tools in the library as Makerspace, may just be a passing
  trend but it points to a critical need for library systems to be able to describe and 
  associate a creative work through the initial ideas, to intermediary blueprints, through 
  manufacturing, and then finally as a functioning artifact. 
 </p>
</div>
<hr>
<div class="row">
 <div class="col-md-5">
  <h2>Features &amp; Functions</h2>
  <ul data-bind="foreach: featuresAndFunctionsQuestions">
   <li data-bind="html: $data"></li>
  </ul>
 </div>
 <div class="col-md-7 well well-sm">
  <h3>Current Library Systems for Local Collections</h3> 
  <div class="btn-group"  id="local-sources">
    <a href="#" class="btn btn-success"
       data-bind="click: showRepositories">Digital Repositories</a>
    <a href="#" class="btn btn-success"
        data-bind="click: showDigitalPublishingPlatforms">Publishing</a>
  </div>
  <br>
  <ul class="media-list" data-bind="foreach: technologies">
    <li class="media" data-bind="attr: { id: id }" style='display: none'>
      <a class="pull-left" data-bind="attr: { href: url }">
        <img data-bind="attr: { src: imageUrl }" class="media-object" style="width: 150px;height:auto">
      </a>
      <div class="media-body">
        <h4 class="media-heading" data-bind="text: name"></h4>
        (<a data-bind="attr: { href: url }, text: url"></a>)
        <p data-bind="html: description"><p>
      </div>
    </li>
  </ul>
 </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
   <div class="btn-group pull-right"> 
    <a href="{{ url_for('slide', slide='one-approach-to-lib-sys') }}" class="btn btn-success btn-lg">
     One Approach to Future Library Systems
         <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
   </div>
  </div>
</div>
{% endblock %}

{% block inline_js %}
<script>
var LocalNeededViewModel = function() {
  var self=this;
  var margin = 10;

  self.getRandomPosition = function() {
   var x = Math.floor(Math.random()*600);     
   var y = Math.floor(Math.random()*640);
   return x,y;
  }

  self.technologies = ko.observableArray([
    { imageUrl: "{{ url_for('static', filename='img/fedora-commons-logo.png') }}",
      name: 'Fedora Commons',
      id: 'fedora',
      description: "An open-source repository platform currently being used by Alliance Digital Repository with an Islandora user-interface",
      url: 'http://fedora-commons.org/'},
    { imageUrl: "{{ url_for('static', filename='img/dspace_logo.png') }}",
      id: 'dspace',
      name: 'DSpace',
      description: 'An open source software is a turnkey repository application.',
      url: 'http://www.dspace.org/'},
    { imageUrl: "{{ url_for('static', filename='img/bepress-logo.png') }}",
      name: "BePress Digital Commons",
      id: 'bepress',
      description: 'A commercially hosted institutional repository and scholarly publication platform',
      url: 'https://www.bepress.com/'},
    { imageUrl: "{{ url_for('static', filename='img/content-dm-logo.png') }}",
      name: "ContentDM",
      id: "content-dm",
      description: 'A commercial digital collection software from OCLC',
      url: 'http://www.contentdm.org/'},
    { imageUrl: "{{ url_for('static', filename='img/logo_DigiTool.jpg') }}",
      name: 'DigiTool',
      id: 'digitool',
      description: 'A commercial digital collections and institutional repository software from Ex Libris',
      url: 'http://www.exlibrisgroup.com/category/DigiToolOverview'},
    { imageUrl: "{{ url_for('static', filename='img/pkp-open-journals.png') }}",
      name: 'Public Knowledge Project - Open Journals Systems',
      id: 'pkp-open-journal-sys',
      description: "An open-source journal management and publishing system that has been developed by the Public Knowledge Project",
      url: 'http://pkp.sfu.ca/ojs/'},
    { imageUrl:  "{{ url_for('static', filename='img/hoap-webpage.png') }}",
      name: "Huddersfield Open Access Publishing",
      id: "hoap",
      description: "An open-source platform using EPrints software for University open-access e-journal.",
      url: "https://library3.hud.ac.uk/blogs/hoap/"},
    { imageUrl: "{{ url_for('static', filename='img/WordPress_logo.png') }}",
      name: "WordPress",
      id: "wordpress",
      description: "An open-source blogging tool and CMS that is being used for publishing",
      url: "https://wordpress.org/"} 
      ]);

  self.showRepositories = function() {
   $('#fedora').attr('style', 'display: block');
   $('#bepress').attr('style', 'display: block');
   $('#digitool').attr('style', 'display: block');
   $('#content-dm').attr('style', 'display: block');
   $('#dspace').attr('style', 'display: block');
   $('#pkp-open-journal-sys').attr('style', 'display: none');
   $('#hoap').attr('style', 'display: none');
   $('#wordpress').attr('style', 'display: none');
  }

  self.showDigitalPublishingPlatforms = function() {
   $('#digitool').attr('style', 'display: none');
   $('#fedora').attr('style', 'display: none');
   $('#pkp-open-journal-sys').attr('style', 'display: block');
   $('#hoap').attr('style', 'display: block');
   $('#wordpress').attr('style', 'display: block');

  }


  self.featuresAndFunctionsQuestions = ko.observableArray([
    "Will the system support emerging Library publishing workflows for Open Access Journals?",
    "How well does the system integrate with digital repositories, particularly from institutions outside of the library?",
    "When will your collections be present in Digital Public Library of America?"

    ]);


  self.showDiscovery = function() {
    $('#discovery-view').attr('style', 'display:block');
    $('#local-collections-view').attr('style', 'display:none');
  }


 }
 
 var local_needed_view = new LocalNeededViewModel();
 ko.applyBindings(local_needed_view);
 </script>
{% endblock %}

