{% extends 'base.html' %}

{% block main %}
<div class="jumbotron">
 <h1>One Approach to Future Library Systems</h1>
 <p class="lead">
  One approach to trying to meet all of the demands for features and functionality in future
  library systems, is the ongoing work on what I'm calling a Catalog Pull Platform.
 </p>
</div>
<hr>
<div class="container" style="background-color: rgb(255,255,255)">
 <img src="http://intro2libsys.info/static/img/catalog-pull-platform.svg" style="width: 800px;height:auto">
</div>
<div class="well well-sm">
 <h1>Three Sources of Library Systems Demand ("pull")</h1> 
 <p class="lead">
  Originating in the <a href="http://en.wikipedia.org/wiki/Lean_startup">Lean Startup</a> movement for 
  technology entrepreneurs that build upon the success
  Toyota and other manufacturing have had in implementing 
  <a href="http://en.wikipedia.org/wiki/Lean_manufacturing">Lean Manufacturing</a> ideas; the fundamental shift  
  in thinking about library systems is away from trying to anticipate demand through "pushing" services and technology to our 
  patrons and staff to instead identifying and responding to needs and demands for library technology by "pulling" directly from various 
  constituencies in our libraries.
 </p>
 <div class="row">
  <div class="col-md-4">
    <h2>People</h2>
    <img src="{{ url_for('static', filename='img/people.png') }}">
  </div>
  <div class="col-md-4">
    <h2>Institutions</h2>
    <img src="{{ url_for('static', filename='img/institutions.png') }}">
  </div>
  <div class="col-md-4">
    <h2>Algorithms</h2>
      <img src="{{ url_for('static', filename='img/algorithms.png') }}">

  </div>
 </div>
 <p class="lead">
  Each of these pull sources provides us with a chance to ask what features and functionality are needed 
  now and what features and functionality may be needed in the future. For each theme, we will ask:
 </p>
 <ul class="lead">
  <li>Who are the <strong>people</strong> involved?</li>
  <li>What are the outcomes our <strong>institutions</strong> want us to track?</li>
  <li>How can we support the technology our patrons, vendors, business, and government through 
     <strong>algorithmic</strong> access to our libraries collections and services?</li>

 </ul>
</div>
<hr>

<div>
 <p class="lead">
  The Minimum Viable Project (MVP) for the Catalog Pull Platform being actively developed through
  Build-Measure-Learn iterations is Colorado College's new catalog available at
 <a href="http://catalog.coloradocollege.edu/">http://catalog.coloradocollege.edu/</a>. This 
  catalog uses a Aaron Schmidt design that he discusses in a blog posting,
  <a href="{{ url_for('resources') }}#catalog-by-design"><em>Catalog by Design</em></a> 
 </p>
 <img src="{{ url_for('static', filename='img/tutt-catalog.png') }}" >

</div>
{% endblock %}
