{% extends 'base.html' %}

{% block main %}
<blockquote>
  Ebook 
  integration has advanced into the must-have category of features for any online catalog or discovery 
  product oriented to public libraries. The ability to implement this feature depends on the 
  availability of APIs exposed by the ebook lending services. from 
  <footer>Marshell Breeding, <em>Library Technology Forecast for 2014 and 
  Beyond</em>
  </footer>
</blockquote>



<div class="jumbotron" style="align: left">
 <h1>{{ topic.get('label')|safe }}</h1>
  <div class="thumbnail pull-right" style="width:250px;height:auto">
   <a href="http://craigmod.com/journal/post_artifact/">
    <img src="{{ url_for('static', filename='img/post-artifact-books-publishing.png') }}" >
   </a>
    <div class="caption">
     This theme extends from Craig Mod's 2011 article,
     <a href="http://craigmod.com/journal/post_artifact/">Post-Artifact Books &amp; Publishing</a>  
    </div>
  </div>

 <p class="lead">
   {{ topic.get('description')|safe }}
 </p>
 <div class="btn-group-vertical btn-group-lg">
   <a href="#book-sys-dlg" 
   class="btn btn-warning" 
   data-toggle="modal">Classic Publishing System for the Book</a>
   <a href="#book-post-dlg"
	  class="btn btn-default" 
      data-toggle="modal">The Book in the Post-Artifact System</a>
    </div>
</div>

<hr>

<div class="well well-sm">
  <h2>From MARC to LinkedData</h2>
   <p>
    As the book publishing systems has evolved and changed, so too has our ability to 
    describe the books properties and relationships with other books, local and national
    subjects, along with authors and title. The family of MARC standards; Bibliographic,
    Authority, and Holdings records, are how these relationships were describing a book 
    in the classic Book publishing system. 
   </p>
   <p>
    Using linked data - a way to make assertations about artifacts that has global scope with 
    sharded URIs - libraries have the opportunity to deeply enrich their local collections through
    connecting with local, regional, national, and international sources of linked data.
    The new Library of Congress <a href="http://bibframe.org">BIBFRAME</a> along with
    the <a href="http://schema.og/">Schema.org</a> linked data vocabularies are examples of
    organizaing assertations about artifacts.
   </p>
 </div>
 <hr>

<div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">The Increasingly Granularity of Bibliographic Entities</h3>
  </div>
  <div class="panel-body"> 
   <p>
    For many years, the book was the bibliographic entity that libraries described with MARC21
    and AACR2. Note fields in the MARC record allowed for some information about the contents 
    of the book to be included in the record but the book's chapters and certainly not paragraphs
    were not described and available through the catalog. Periodical entities are described in
    the MARC21 record in somewhat more granularity with the "work" and "issue" level of descriptions.
    MARC records for may or may not include  
    our modern ILS and Library Services platforms require additional technology to associate
    
   </p>
   <p>
    While our patrons sea
   </p>
  </div>
</div>
<div class="row">
 
 <div class="col-md-12">
  <h2>Library Systems Features &amp; Functions</h2>
  <ul id="features-functions">
   <li class="hide"></li>
  </ul>
 </div>

</div>

 

<div class="row">
  <div class="col-md-12">
   <div class="btn-group pull-right"> 
    <a href="{{ url_for('slide', slide='discovery-elsewhere-local-needed') }}" class="btn btn-success btn-lg">
       Discovery happens elsewhere&hellip;but local is needed more than ever
    <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
   </div>
  </div>
</div>

{% endblock %}

{% block dialogs %}
<div class="modal fade" id="book-sys-dlg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">The Classical Book Publishing System</h3>
	<h4 class="modal-title" data-bind="text: stepTitle"></h4>
      </div>
      <div class="modal-body">
	   <div class="row">
	     <div class="col-md-12">
          <div class="btn-group">
            <a href="#"
	       class="btn-warning btn"
	       data-bind="click: refreshView"><span class="glyphicon glyphicon-refresh"></span></a>
             <a href="#"
               class="btn-primary btn"
               data-bind="click: startPlayAll">
                       <span class="glyphicon glyphicon-play"></span>
            </a> 

          </div>	
      </div>
	</div>
	<div class="row">
	 <div class="col-md-8">
	   <div id="book-sys-animation"></div>
     </div>
     <div class="col-md-4">
      <ul data-bind="foreach: explanations">
       <li class="lead" data-bind="html: paragraph"></li>
      </ul>
      </div>
    </div>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   </div>
  </div> 
  </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="book-post-dlg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">The Book in the Post-Artifact System</h3>
        <h4 class="modal-title" data-bind="text: stepTitle"></h4>
        
      </div>
      <div class="modal-body">
       <div class="btn-group">
           <a href="#"
              class="btn-warning btn"
	      data-bind="click: refreshView"><span class="glyphicon glyphicon-refresh"></span></a>
           <a href="#"
              class="btn-primary btn"
              data-bind="click: startPlayAll">
                 <span class="glyphicon glyphicon-play"></span></a>
       </div>	
       <div class="row">
        <div class="col-md-8">
         <div id="book-digital-animation"></div>
        </div>
        <div class="col-md-4">
          <ul data-bind="foreach: explanations">
           <li class="lead" data-bind="html: paragraph"></li>
          </ul>
        </div>
       </div>
    </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block inline_js %}
<script>
{% include 'snippets/classic_vm.js' %}
{% include 'snippets/book_post_artifact.js' %}

var book_sys_view_model = new BookAsSystemViewModel();
var book_digital_view_model = new BookPostArtifactSystemModel();
ko.applyBindings(book_sys_view_model, document.getElementById('book-sys-dlg')); 
ko.applyBindings(book_digital_view_model, document.getElementById('book-post-dlg'));

</script>
{% endblock %}
